html {
 padding: 0px;
 margin: 0px;

  }

body {
  margin: 0px;
  padding:0px;
  font: 16px / 1 sans-serif;
  background: #84958b url("Images/NikoleMcStanleyMobile.png") fixed no-repeat bottom right;

  }
 @media only screen and (min-width : 320px) and (max-width : 885px) {
	body{ background-image: url("Images/NikoleMcStanleyMobile.png"); }
}

@media (min-width: 886px) {
  body{ background-image: url("Images/NikoleMcStanley.png");  } 
 }
  
 
.container {
background: #84958b;
display: flex;
justify-content: flex-end;
align-items: flex-end;
}


 /*@media (max-width: 300px) {
  background-image: url("Images/NikoleMcStanleyMobile.png");
 }

@media (min-width: 301px) {
  background-image: url("Images/NikoleMcStanley.png");
 }